.artistCardMainContainer{
    /* border:2px solid blue; */
    display:flex;
    margin-top:1rem;
    height:80%;
    justify-content: space-around;
}
.AcardContainer{
    /* border:2px solid red; */
    width:16%;
    height:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:10px;
    border-radius: 10px;
    position:relative;
    transition:.3s;
}

#playButton {
    /* border:2px solid red; */
    background-color: rgb(87,255,87);
    height:50px;
    width:50px;
    border-radius:50px;
    display:flex;
    justify-content: center;
    align-items:center;
    position:absolute;
    bottom:30%;
    right:8%;
    display:none;
}
#playButton svg{
    height:70%;
    width:100%;
}

.AcardContainer:hover{
    background-color: rgb(33, 31, 31);
    cursor: pointer;
}

.AcardContainer:hover #playButton{
    display:flex;
    transition:.5s;
    }
.AcardContainer img{
    width:95%;
    border-radius:150px;
}

.AcardTextContainer{
    /* border:2px solid pink; */
    width:100%;
    margin-top:5%;
}
.AcardTextContainer h2{
    font-size:1rem;
}
.AcardTextContainer p{
    font-size: 0.9rem;
    color:rgb(144, 143, 143);
    font-weight: 500;
}